*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro",sans-serif;
}
:root{
     
}
#wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.logo{
    width: 50px;
}
.logo-text{
    margin-left: -0.9rem;
    font-size: 26px;
}
.logo-container{
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.nav-items{
    display: flex;
    gap: 2rem;
    padding: 0 4rem;
}
.nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor:pointer;
   

}
.nav-items div a{
  
    color: black;
}
.nav-items div:hover
{
    transition:  0.8s ease-in ;
    font-weight: lighter; 
}
a{
    text-decoration: none;
}
.hero-section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
} 


.hero-section-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.hero-section-heading{
    font-size: 35px;
    color: #343d68;
    font-weight: 500;
}
.role{
    font-weight: 800;
    color:#4e45d5;
}
.faded-text{
    
    user-select: none;
    font-size: 6em;
    color: #e7e7e7;
    bottom: -15%;
    left: 0;
    font-weight: bold;
}
.hero-section-subheadings{
    font-size: 45px;
    line-height: 45px;

}
.hero-section-discription{
    margin: 0.8rem;
    width:90%;
    font-weight: 500;
}
.btn {
    background-color: #e84949;
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
    border-radius: 5px;
  }
.btn::before {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.8s;
  }
  
  .btn:hover::before {
    transform: scaleX(1);
  }
  
  .btn:hover {
    border: solid 3px #e84949;
    color: black;
  }
  .hero-section-right{
    position: relative;
    
  }
  .absolute{
    position: absolute;
  }
  .icon-mine{
    padding: 2.5rem;
    filter: grayscale(1);
    transition: all 1;
    animation: scaleimage 5s linear infinite;
   
  }
  .icon-mine img{
    z-index: -8;
  }
  @keyframes scaleimage {
    0%
    {
     filter: grayscale(0);
     transform: scale(0.8);
     animation-delay: 5ms;
    
    }
    50%{
       transform: scale(0.9);
       filter: grayscale(1.1);
       box-shadow: 3px 3px 10px black;
    }
    100%
    {
      transform: scale(0.8);
      filter: grayscale(0);

    }
  }
  
.icon-cube{
    z-index: 9;
    top:-1.5rem;
    right: 1em;
    transition: all 1s;
    animation: cube 2s linear  infinite;
    
}
@keyframes cube {
    0%{
        transform: rotateY(0deg) translateY(0px);
    }
    0%{
        transform: rotateY(180deg) translateY(-12px);
    }
    100%{
        transform: rotateY(360deg) translateY(-12px);
    }
    
}
.icon-circle
{
    z-index: 9;
    bottom: -0.8rem;
    right: 0.1rem;
    transition: all 1s;
    animation: circle 3s linear infinite ;
}
@keyframes circle {
  
    0%{
        transform:  translateY(0px);
    }
    50%{
     transform: translateY(-55px);
    }
    100%{
        transform:  translateY(-0px);
    }
}
.icon-zigzag{
    z-index: 9;
    top:5rem;
    left:2.0rem;
    transition: all 1s;
    animation: zigzag 10s linear infinite ;
}
@keyframes zigzag {
  
    0%{
        transform:  translatey(0px) translateX(0);
    }
    50%{
     transform: translateY(400px) rotateY(180deg);
    }
    100%{
        transform:  translateY(0px) translateX(0);
    }
}
.project-skill{
    width: 20px;
}
.project-section{
    background-color: rgb(231, 231,231);
    margin: 2rem;
}
.projectTitle{
    color: orangered;
    font-size: 70px;
    text-align: center;
    padding: 30px;
}
.project-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 120px;
}
#project1 {
    background-image: url(./images/project/car.png);
    right: 5%;
  }
  
  #project2 {
    background-image: url(./images/project/car.png);
    left: 5%;
  }
  
.project-card{
    height: 40%;
    width: 90%;
    height: 550px;
    background-image: url(./images/project/car.png);
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
    border-radius: 5px;
    z-index: 2;
}
.project-card::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    z-index: 1;
    transition: 0.5s all;
    transform-origin: left;
    transform: scaleX(0);
  }
  .project-card:hover::before {
    transform: scaleX(1);
  }
  .project-number {
    position: absolute;
    font-size: 200px;
    font-weight: 600;
    color: #fff;
    display: none;
    z-index: 10;
    transition: 0.8s;
  }
  
  .rightNumber {
    top: -45px;
    right: -45px;
  }
  
  .leftNumber {
    top: -45px;
    left: -45px;
  }
  
  .project-card:hover .project-number {
    display: block;
  }
  
  .project-card::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #1f1f1f9a;
    z-index: 0;
  }
  .project-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    padding: 2em;
    bottom: 20%;
    position: absolute;
    z-index: 5;
    transition: all 0.4s;
  }
  
  .right {
    left: 4%;
  }
  
  .left {
    right: 4%;
  }
  .project-skills-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
    gap: 1em;
  }
  .project-skill {
    width: 40px;
  }
  .projectHeading {
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
  }
  .projectSubHeading {
    font-size: 16px;
    font-style: italic;
    width: 70%;
  }
  
  .projectCard:hover .projectContent {
    transform: scale(1.1);
  }
  
  .btnGroup {
    display: flex;
    gap: 0.9rem;
    align-items: center;
  }
  
  .btnGroup .btnProject {
    border: none;
    outline: none;
  }
  .icon {
    cursor: pointer;
    color: white;
    font-size: 35px;
    transition: all 0.4s;
  }
  
  .icon:hover {
    color: #e84949;
  }
  .skillContainer {
    position: relative;
    display: flex;
    padding: 5rem;
    margin: 10rem auto;
    gap: 30px;
    max-width: 1200px;
  }
  
  .leftSkillContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .skillHeading {
    color: #e84949;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
  }
  
  .skillHeading span {
    font-size: 90px;
  }
  
  .skillSubHeading {
    margin-top: 1rem;
    width: 85%;
    text-align: justify;
  }
  .skillSubHeading p {
    margin: 15px 0;
  }
  .rightSkillContainer {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    width: 40%;
    position: relative;
    justify-content: center;
  }
  
  .blobStyle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    animation: blobAnimation 3s linear infinite;
  }
  
  @keyframes blobAnimation {
    50% {
      top: 54%;
      left: 46%;
    }
  }
  
  .skillsLogo {
    width: 80px;
    transition: all 0.5s;
  }
  
  .skillsLogo:hover {
    transform: scale(1.2);
  }
  
  .skillFadedText {
    font-size: 12em;
    right: -9%;
    bottom: -25%;
    user-select: none;
    color: #e7e7e7;
    font-weight: bold;
  }
  .contactMeSection {
    width: 100%;
    background-color: #e7e7e7;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .container h2 {
    font-size: 5em;
    padding-top: 2rem;
    color: #e84949;
  }
  
  .container h3 {
    font-size: 3em;
    color: #343d68aa;
  }
  
  .contactUsForm {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
  }
  
  .contactUsForm form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  /* 
  .formFieldContainer{
    width: 100%;
  } */
  
  .formField {
    width: 100%;
    height: 42px;
    padding: 0 2rem;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f;
    background: #ffffff97;
    font-weight: 500;
  }
  
  .formfield:focus {
    border: none;
  }
  
  .formFieldContainer textarea {
    height: auto;
    padding-top: 1rem;
  }
  
  .formBtn .btn {
    transition: 0.5s;
    border: none;
    font-size: 1.4rem;
    margin: 1rem 0;
  }
  
  .formBtn .btn:hover {
    transform: scale(0.9);
  }
  
  .formBtn .btn i {
    padding: 0 1rem;
    font-size: 1.5rem;
  }
  
  /* Contact Me Section Ends  */
  
  /* Footer Section Start  */
  footer {
    background: #343d68;
    position: relative;
    padding: 5rem;
  }
  
  .footerFadedText {
    font-size: 5em;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #535c87;
    user-select: none;
  }
  
  .footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1.2rem;
  }
  
  .linkContainer {
    display: flex;
    gap: 1.2em;
  }
  
  .linkContainer div a {
    color: white;
    text-decoration: none;
    transition: all 0.6s;
  }
  
  .linkContainer div a:hover{
    color: #e84949;
  }
  
  .iconContainer{
    display: flex;
    gap: 1rem;
  }